Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/ParagonLtBelica
/Content/FPS_Weapon_Bundle
/Content/A_Surface_Footstep
/Content/KiteDemo
/Content/Lighting
/Content/ParagonProps
/Content/SampleMap
/Content/Audio
/Content/Blueprints
/Content/Fx
/Content/Maps/Demonstration.umap
/Content/Maps/Demonstration_BuiltData.uasset
/Content/Maps/Overview.umap
/Content/Maps/Overview_BuiltData.uasset
/Content/Maps/TechArt.umap
/Content/Maps/TechArt_BuiltData.uasset
/Content/Materials
/Content/Meshes
/Content/Sequences
/Content/StarterContent
/Content/Textures
/Content/ThirdPerson
/Content/ParagonTwinblast
/Content/ParagonGrux
/Content/ParagonKhaimera
/Content/MiddleEasternTown
/Content/Bazaar_Meshingun
/Content/MOUT_Arabian
/Content/Prototypes/ShooterTempleLevel_BuiltData.uasset
/Shooter/Content
/Content/VehicleVarietyPack
/Content/VigilanteContent